{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        {{ content }}
        <div class="grid grid-gallery">
            {% for image in pages["gallery"].meta.image %}
                <a href="{{ base_url }}/image/{{ image.url }}" title={{ image.title }} target=_blank>
                    <picture>
                        <source media="(min-width: 1780px)" srcset="{{ base_url }}/image/{{ image.url }}?w=387&crop-to-fit&aspect-ratio=16:9&q=40"">
                        <source media="(min-width: 767px)" srcset="{{ base_url }}/image/{{ image.url }}?w=200&crop-to-fit&aspect-ratio=16:9&q=40">
                        <img src="{{ base_url }}/image/{{ image.url }}?w=400&crop-to-fit&aspect-ratio=!16:10&q=50" alt="{{ image.title }}">
                    </picture>
                </a>
            {% endfor %}
        </div>
        <div class="embed-container">
            <iframe src="https://www.youtube.com/embed/vW_nQUo4G8o" frameborder="0" allowFullScreen></iframe>
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
